.header{
    font-family: 'Roboto';
    height: 100px;
    width: 100%;
    background-color: #678983;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}
.title{
      flex: 1;
      font-size: 25px;
      color: #181D31;
      padding-left: 20px;
}
.auth{
    font-size: 20px;
    flex: 2;
    display: flex;
    justify-content: end;
    color: #181D31;
}
.login{
    transition: 0.5s background-color;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
}
.signup{
    transition: 0.5s background-color;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
}
.login:hover{
    /* margin: 20px; */
    background-color: #181D31;
    color: #F0E9D2;
    padding: 10px;
    border-radius: 10px;
}
.signup:hover{
    /* margin: 20px; */
    background-color:#181D31;
    color: #F0E9D2;
    padding: 10px;
    border-radius: 10px;
}